@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    overflow-x: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.wrapper {
    min-height: 100vh;
    padding: 0 4vw;
    cursor: none;
    background: #e4fbff;
}

header {
    padding: 60px 0;
}

.logo {
    font-weight: 500;
    user-select: none;
    display: inline-block;
}

.home {
    min-height: 100vh;
    padding-bottom: 50vh;
}

.home-container {
    min-height: calc(100vh - 147px);
}

.home-txt-container {
    position: absolute;
    bottom: 15vh;
    width: 80%;
}

.wlcm-txt {
    font-size: calc(18px + 2.4vw);
    font-weight: bold;
    line-height: 1.3em;
}

.work-stat-txt {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.my-cmpny {
    cursor: none;
    text-decoration: none;
    color: inherit;
    transition: 1s ;
}

.my-cmpny:hover {
    color: #fa8b26;
}

/* Cursor */

.cursor {
    border-radius: 100%;
    position: absolute;
    pointer-events: none;
}
   
.cursor-default {
    height: 30px;
    width: 30px;
    top: -15px;
    left: -15px;
    z-index: 11000;
}

.cursor-ico {
    z-index: 11001;
}

.cursor__point {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: orange;
}

.is-blend {
    mix-blend-mode: difference;
}
